.containertesk{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.tasktitle{
    cursor: pointer;
}

.removetask, .infotask{
    background-color: #444;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: lightskyblue;
    cursor: pointer;
    padding: 0 6px;
}

.buttons-container{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}